@charset "utf-8";
/* ===== Color Map ===== */
/*    gray    -> plum    */
/* 1. \9E9E9E -> #E855DF */
/* 2. \666666 -> #C520BC */
/* 3. \ECECEC -> #F6DFF9 */
/* 4. \CECECE -> #F2ABF0 */

/*---- Universal Reset STA ----*/
/*---- Universal Reset END ----*/

/*---- header STA ----*/
#ss_header {
	border-bottom-color: #C520BC;
}
/*---- header END ----*/

/*---- ticket STA ----*/
.ss_list_title {
	color:#C520BC;
}
#ss_record_table table th {
	background: #F6DFF9;
}
h3 {
	border-left:5px solid  #C520BC;
}
/*---- ticket END ----*/
