@charset "utf-8";
#ss_header {
  width: 90%;
}
#ss_wrapper {
  width: 100%;
  padding-right: initial;
  padding-left: initial;
}
#ss_footer {
  width: 90%;
}
.ss_preBox {
  width: 98%;
}
.ss_inputBoxCen {
  width: 100%;
}
#ss_loginTable {
  border-top: 0;
  border-bottom: 0;
}
#ss_loginTable td {
  background-color: transparent;
  padding-left: initial;
}
#ss_loginTable input {
  width: 95%;
  height: 3em;
  font-size: 16px;
}
#ss_passLost a {
  width: 100%;
  font-size: 1.0em;
}
