@charset "utf-8";
/* ===== Color Map ===== */
/*    gray    -> royalblue */
/* 1. \9E9E9E -> #0074D9 */
/* 2. \666666 -> #004B8D */
/* 3. \ECECEC -> #CCD8E2 */
/* 4. \CECECE -> #87BAE7 */

/* CSS Document */

h3{
	background:#004B8D;
	border-bottom:1px solid #004B8D;
	border-top:1px solid #004B8D;
	border-right:1px solid #004B8D;
}
.line{
	border-left:1px solid #004B8D;
}
