@charset "utf-8";
/* ===== Color Map ===== */
/*    gray    -> sandybrown */
/* 1. \9E9E9E -> #E59055 */
/* 2. \666666 -> #C55420 */
/* 3. \ECECEC -> #F9E9DF */
/* 4. \CECECE -> #EFC6AB */

/* CSS Document */

h3{
	background:#C55420;
	border-bottom:1px solid #C55420;
	border-top:1px solid #C55420;
	border-right:1px solid #C55420;
}
.line{
	border-left:1px solid #C55420;
}
