@charset "utf-8";
/* ===== Color Map ===== */
/*    gray    -> darkkhaki */
/* 1. \9E9E9E -> #979673 */
/* 2. \666666 -> #575742 */
/* 3. \ECECEC -> #FFF7EA */
/* 4. \CECECE -> #D7D5A3 */

/* CSS Document */

h3{
	background:#575742;
	border-bottom:1px solid #575742;
	border-top:1px solid #575742;
	border-right:1px solid #575742;
}
.line{
	border-left:1px solid #575742;
}
