@charset "utf-8";
/* ===== Color Map ===== */
/*    gray    -> lightsalmon */
/* 1. \9E9E9E -> #F18F6D */
/* 2. \666666 -> #FF4E00 */
/* 3. \ECECEC -> #FDEADB */
/* 4. \CECECE -> #F9C1B2 */

/* CSS Document */

h3{
	background:#FF4E00;
	border-bottom:1px solid #FF4E00;
	border-top:1px solid #FF4E00;
	border-right:1px solid #FF4E00;
}
.line{
	border-left:1px solid #FF4E00;
}
