@charset "utf-8";
/* ===== Color Map ===== */
/*    gray    -> greenyellow */
/* 1. \9E9E9E -> #A7C520 */
/* 2. \666666 -> #8B9E1D */
/* 3. \ECECEC -> #E9F2AB */
/* 4. \CECECE -> #D4E855 */

/*---- Universal Reset STA ----*/
/*---- Universal Reset END ----*/

/*---- header STA ----*/
#ss_header {
	border-bottom-color: #8B9E1D;
}
/*---- header END ----*/

/*---- ticket STA ----*/
.ss_list_title {
	color:#8B9E1D;
}
#ss_record_table table th {
	background: #E9F2AB;
}
h3 {
	border-left:5px solid  #8B9E1D;
}
/*---- ticket END ----*/
